#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 2rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 1px solid var(--bg-dark);
  border-radius: 0.2rem;
}

.form-box {
  box-sizing: border-box;
  padding: 2rem;
  width: 90%;
  max-width: 30rem;
  background-color: #ffffff;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-submitted input:invalid:focus {
  outline-color: red;
  border-color: red;
}

.form-submitted input:invalid {
  border-color: red;
}

textarea {
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.2rem;
  border-color: #293241;
  background-color: transparent;
}

#submit-button {
  border: none;

  color: var(--bg-light);
  height: 2rem;
  width: 5rem;
  align-self: flex-end;
  text-align: center;
  cursor: pointer;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  /* transition: all 0.2s; */
}

#submit-button:hover:after {
  color: red;
  content: "MY SOUL";
}

#submit-button:hover:before {
  color: red;
  content: "I ";
}

#submit-button:hover {
  background-color: var(--bg-dark);
  color: red;
  text-transform: uppercase;
  width: 10rem;
  font-weight: 800;
}

#form-container {
  /* display: none; */
}

#success-container {
  box-sizing: border-box;
  display: none;
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: crimson;
  background-color: black;
  align-items: center;
  gap: 10px;
  font-family: var(--p-font);
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.contact-us-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--heading-colour);
  font-family: Georgia, "Times New Roman", Times, serif;
}

#success-container img {
  height: 20rem;
  height: 20rem;
  border: 0.5rem solid brown;
  border-radius: 50%;
}

#success-container span {
  font-size: 2rem;
}
