/* --------------------- navbar --------------------- */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100vh;

  overflow: hidden;
  text-align: right;

  background-color: var(--accent-colour);
  opacity: 0.8;

  transition: all 0.2s;
  z-index: 10;
}

/* menu button */
#nav-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;

  border: 2px solid var(--text-colour);
  border-radius: 0.4rem;
  color: var(--heading-colour);

  opacity: 0.5;
  background-color: var(--bg-dark);
  background: url(assets/menu-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%;

  transition: all 0.2s;
  z-index: 99;
}

#nav-toggle img {
  width: 100%;
  height: 100%;
}

#nav-toggle:hover {
  opacity: 1 !important;
  cursor: pointer;
}

/* X inside the nav */
#nav-toggle-close {
  margin-top: 1.2rem;
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  opacity: 0.5;
  color: var(--text-colour);

  background: none;
  border: 2px solid var(--text-colour);
  border-radius: 0.4rem;
  transition: all 0.2s;
}

#nav-toggle-close:hover {
  opacity: 1;
  cursor: pointer;
}

#menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#menu li {
  width: 200px;
}

#menu li a {
  text-decoration: none;
  display: block;
  color: var(--text-colour);
  padding: 1rem;
  text-align: left;
  transition: all 0.2s;
}

#menu li a:hover {
  background-color: var(--text-colour);
  color: var(--bg-dark);
}
