/* --------------------- key variables --------------------- */
:root {
  --bg-dark: #140a0b;
  --bg-light: #c7753f;
  --heading-colour: #3a5e96;
  --text-colour: #f9dcd5;
  --accent-colour: #6E4D5A;
  --p-font: monospace; 
  --heading-font: "Creepster", system-ui;
}
/* --------------------- core css --------------------- */

html,
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--p-font);
  background-color: rgb(50, 50, 50);
  text-align: center;
}

/* --------------------- navbar --------------------- */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100vh;

  overflow: hidden;
  text-align: right;

  background-color: var(--accent-colour);
  opacity: 0.8;

  transition: all 0.2s;
  z-index: 10;
}

/* menu button */
#nav-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;

  border: 2px solid var(--text-colour);
  border-radius: 0.4rem;
  color: var(--heading-colour);

  opacity: 0.5;
  background-color: var(--bg-dark);
  background: url(assets/menu-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%;

  transition: all 0.2s;
}

#nav-toggle img {
  width: 100%;
  height: 100%;
}

#nav-toggle:hover {
  opacity: 1 !important;
  cursor: pointer;
}

/* X inside the nav */
#nav-toggle-close {
  margin-top: 1.2rem;
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  opacity: 0.5;
  color: var(--text-colour);

  background: none;
  border: 2px solid var(--text-colour);
  border-radius: 0.4rem;
  transition: all 0.2s;
}

#nav-toggle-close:hover {
  opacity: 1;
  cursor: pointer;
}

#menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#menu li {
  width: 200px;
}

#menu li a {
  text-decoration: none;
  display: block;
  color: var(--text-colour);
  padding: 1rem;
  text-align: left;
  transition: all 0.2s;
}

#menu li a:hover {
  background-color: var(--text-colour);
  color: var(--bg-dark);
}

/* ---------------------core layout - stack--------------------- */
/* background panels */
.stack-xl {
  width: 100%;
  height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
/* centred content boxes on each pane */
.stack-lg {
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}

/* right-aligned dark text boxes */
.stack-md {
  background-color: var(--bg-dark);
  width: 50%;
  align-self: flex-end;
  padding: 1rem;
  z-index: 1;
}

/* smaller text boxes for info */
.stack-sm {
  border-style: solid;
  border-color: var(--text-colour);
  border-width: 1px;
  width: 40%;
  height: 90%;
}

.footer-content {
  height: 5rem;
  padding-bottom: 1rem;
}
/* ---------------------background colours--------------------- */
.bg-1 {
  background-color: var(--bg-dark);
}

.bg-2 {
  background-color: var(--bg-light);
}

footer {
  background-color: var(--accent-colour);
  height: 10%;
}

.img-bg img {
  object-fit: contain;
  opacity: 0.6;
  max-height: 100%;
  z-index: 0;
}

/* ---------------------text elements--------------------- */
.heading {
  color: var(--heading-colour);
  font-family: var(--heading-font);
  opacity: 1;
  margin: auto;
  margin-top: 3%;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  overflow-wrap: break-word;
}

h2 {
  font-size: 3.5rem;
  font-weight: 200;
}

p {
  font-family: var(--p-font);
  color: var(--text-colour);
  font-size: small;
}

.footer-text {
  font-family: var(--p-font);
  font-size: x-small;
  color: var(--bg-dark);
  margin-top: 1rem;
  margin-left: 1rem;
}

/* ---------------------images--------------------- */
.member-img {
  width: 100%;
  height: width;
}

/* ---------------------carousel--------------------- */

.carousel {
  width: 100%;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  object-fit: cover;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0;
  z-index: 1;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: var(--bg-light);
  opacity: 0.7;
  padding: 0 0.5 rem;
  background-color: grey;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: #b4b4b4;
  cursor: pointer;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
