/* --------------------- key variables --------------------- */
:root {
  --bg-dark: #140A0B;
  --bg-light: #C7753F;
  --heading-colour: #3A5E96;
  --text-colour: #F6D7CF;
  --accent-colour: #6E4D5A;
}

/* --------------------- core css --------------------- */

html,
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(50, 50, 50);
  text-align: center;
}

/* --------------------- navbar --------------------- */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100vh;

  overflow: hidden;
  text-align: right;

  background-color: var(--accent-colour);
  opacity: .8;

  transition: all 0.2s;
}

/* menu button */
#nav-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;

  border: 2px solid white;
  border-radius: 0.4rem;

  opacity: 0.5;
  background-color: var(--bg-dark);
  background: url(assets/menu-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%;

  transition: all 0.2s;
}

#nav-toggle:hover {
  opacity: 1 !important;
}

/* X inside the nav */
#nav-toggle-close {
  margin-top: 1.2rem;
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  opacity: 0.5;

  background: none;
  border: 2px solid white;
  border-radius: 0.4rem;
  transition: all 0.2s;
}
#nav-toggle-close:hover {
  opacity: 1;
}

#menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#menu li {
  width: 200px;
}

#menu li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 1rem;
  text-align: left;
  transition: all 0.2s;
}

#menu li a:hover {
  background-color: white;
  color: black;
}

/* ---------------------core layout - stack--------------------- */
/* background panels */
.stack-xl {
  width: 100%;
  height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}
/* centred content boxes on each pane */
.stack-lg {
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 5rem;
}

/* right-aligned dark text boxes */
.stack-md {
  background-color: var(--bg-dark);
  width: 50%;
  align-self: flex-end;
  padding: 1rem;
}

/* smaller text boxes for info */
.stack-sm {
  border-style: solid;
  border-color: var(--bg-light);
  border-width: 1px;
  width: 40%;
  height: 90%;
}

.footer-content {
  height: 5rem;
  padding-bottom: 1rem;
}
/* ---------------------background colours--------------------- */
.bg-1 {
  background-color: var(--bg-dark);
}

.bg-2 {
  background-color: var(--bg-light);
}

footer {
  background-color: var(--accent-colour);
  height: 10%;
}

.img-bg {
  /* placeholder for now!*/
  background-image: url("corinne-kutz-image.jpg");
  opacity: 0.2;
}

/* ---------------------text elements--------------------- */
.heading {
  color: var(--heading-colour);
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 1;
  margin-left: 10%;
  margin-top: 3%;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-light);
  font-size: small;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: var(--bg-dark);
  margin-top: 1rem;
  margin-left: 1rem;
}

/* ---------------------images--------------------- */
.member-img {
  width: 100%;
  height: width;
}

/* ---------------------form--------------------- */
form {
  display: flex;
  flex-direction: column;
}

input {
  border-style: solid;
  border-width: 1px;
  border-color: var(--bg-dark);
  background-color: var(--bg-light);
  height: 2rem;
}

.space-top > * + * {
  margin-top: 5%;
}

label {
  font-size: x-small;
  color: #6d798e;
}

#submit-button {
  border: none;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  height: 2rem;
  width: 5rem;
  align-self: flex-end;
  text-align: center;
  cursor: pointer;
}
